body {
    width: 850px;
    height: 827px;
    margin: auto;
    background-image: url('styleImages/catBackground.jpg');
    background-size: cover;
}

.box {
    width: 7.3em;
    height: 7.2em;
    border: 1px solid white;
    float: left;
    /*display: inline-block;*/
}

.topRow {
    border: 1px solid white;
    background-color: #d0dfd2;
}

.left {
    border: 1px solid white;
    background-color: #d0dfd2;
}

.right {
    border: 1px solid white;
    background-color: #d0dfd2;
}

.bottom {
    border: 1px solid white;
    background-color: #d0dfd2;
}

.running {
    background-image: url("styleImages/running.gif");
    background-size: cover;
}

.middleBackground {
    background-position: center;
    image-resolution: cover;
    background-size: cover;
    transform: rotateY(180deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    z-index: 2;
}

.hiddenCat {
    opacity: .04;
}

.target {
    border-radius: 12px;
    background-color: #ffcc3f;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#title{
  border-radius: 12px;
  background-color: #ffcc3f;
  border: 1px solid black;
  color: white;
  text-align: center;
  font-size: 30px;


}
